.dashboard-card {
    padding: 16px;
    height: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  }
  
  .card-content {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .card-icon-container {
    background-color: #b60557;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    color: white;
  }
  
  .card-text {
    flex-grow: 1;
  }
  
  .card-title {
    font-weight: 500;
    margin-bottom: 4px;
  }
  
  .card-subtitle {
    color: #757575;
    margin-bottom: 8px;
  }
  
  .card-value {
    font-weight: 700;
  }
  
  .card-action {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
  
  .card-action-button {
    color: #757575;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .card-action-button:hover {
    color:  #b60557;
    background-color: rgba(255, 112, 67, 0.1);
  }
  